<div>
    <nav style="text-align: center;">
        <a routerLink='/signup' class="text-light bg-success" style="padding: 10px; border-radius: 5px;" routerLinkActive='any-css-class'>Sign up</a>&nbsp;
        <a routerLink='/login' class="text-light bg-success" style="padding: 10px 15px; border-radius: 5px;">Login</a>
    </nav>
</div>