<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)= onLoginSubmit() >
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="scrumUserLoginData.email">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="scrumUserLoginData.password">
        </div>

        <div class="form-group">
            <label>Project name</label>
            <input type="text" name="projname" class="form-control"
            [(ngModel)]="scrumUserLoginData.projname"
            >
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
        Don't have an account? <a routerLink='/signup'>Signup here</a>
    </form>
</div>

