<div class="container">
    <h1>Create a new account</h1>
    <hr>
    <h5 class="bg-info text-light" >{{ feedbk }}</h5>
    <form #userSignupForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label> 
            <input type="email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$" required #email='ngModel' [class.is-invalid]="email.invalid && email.touched" class="form-control" [(ngModel)]="scrumUserModel.email">
            <div *ngIf="email.errors && (email.dirty || email.touched)">
                <small *ngIf="email.errors.required" class="text-danger">Email is required</small>
                <small *ngIf="email.errors.pattern" class="text-danger">Are you sure this email is valid?</small>
            </div>
        </div>

        <div class="form-group">
            <label>Fullname</label>
            <input type="text" required name="fullname" class="form-control" [(ngModel)]="scrumUserModel.fullname">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" [class.is-invalid]="password.invalid && password.touched" required class="form-control" #password='ngModel' [(ngModel)]="scrumUserModel.password">
            <div *ngIf="password.errors && (password.dirty || password.touched)">
                <small *ngIf="password.errors.required" class="text-danger">Password is required</small>
                <small *ngIf="password.errors.pattern" class="text-danger">Password must be a minimum of 8 characters, and contain at least 1 number and 1 special character</small>
            </div>
        </div>

        <div class="form-group">
            <label>User Type</label>
            <select required class="custom-select" name="usertype" [(ngModel)]="scrumUserModel.type">
                <option value=""></option>
                <option *ngFor="let type of userTypes">{{ type }}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Project Name</label>
            <input type="text" required name="projname" class="form-control" [(ngModel)]="scrumUserModel.projname">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="password.invalid || email.invalid">Create Account</button>
        Already have an account? <a routerLink='/login'>Login here</a>
    </form>
</div>
